{% load static %}

<title>jjoMaquinarias</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'core/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


	<!-- mercadopago -->
	<link rel="stylesheet" href="{% static 'core/server/node_modules' %}">
	<link rel="stylesheet" href="{% static 'core/server/index.js' %}">
	<link rel="stylesheet" href="{% static 'core/server/package-lock.json' %}">
	<link rel="stylesheet" href="{% static 'core/server/package.json' %}">
	<script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="{% static 'core/js/app.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
  






	<link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'core/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'core/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'core/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">


{% block css %}

{% endblock %}

<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
				
					<!-- logo -->

					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							<li><a href="contact.html">Inicio</a></li>
							<li><a href="contact.html">Nuestros servicios</a></li>
							<li><a href="contact.html">Contacto</a></li>
					
							<li><a href="news.html">Sobre nosotros</a>
								<ul class="sub-menu">
									<li><a href="single-news.html">Historial de empresas</a></li>
									<li><a href="single-news.html">Visión</a></li>
									<li><a href="single-news.html">Misión</a></li>
									

								</ul>
							</li>


						
					
							<li>
								<div class="header-icons">
									<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
									<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
								</div>
							</li>
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>¿que buscas?</h3>
							<input type="text" placeholder="Escribe aqui">
							<button type="submit">Buscar <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
						

					
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->



{% block contenido %}








{% endblock %}

	
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
							<li>support@fruitkha.com</li>
							<li>+00 111 222 3333</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="index.html">Historial</a></li>
							<li><a href="index.html">Misión</a></li>
							<li><a href="index.html">Visión</a></li>
							<li><a href="index.html">Nuestros servicios</a></li>
							<li><a href="index.html">Contacto</a></li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>





<script src="{% static 'core/js/jquery-1.11.3.min.js' %}"></script>

<script src="{% static 'core/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'core/js/jquery.countdown.js' %}"></script>

<script src="{% static 'core/js/jquery.isotope-3.0.6.min.js' %}"></script>

<script src="{% static 'core/js/waypoints.js' %}"></script>

<script src="{% static 'core/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'core/js/jquery.magnific-popup.min.js' %}"></script>

<script src="{% static 'core/js/jquery.meanmenu.min.js' %}"></script>

<script src="{% static 'core/js/sticker.js' %}"></script>

<script src="{% static 'core/js/main.js' %}"></script>

<script src="{% static 'core/js/mensaje.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




{% block js %}


{% endblock %}