{% extends 'core/base.html' %}
{% load static %}
<style>
    .contact-form form p input[type=text],
    .contact-form form p input[type=tel],
    .contact-form form p input[type=email] {
        width: 49%;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 3px;
        display: inline-block;
        box-sizing: border-box;
    }

    .contact-form form p textarea {
        border: 1px solid #ddd;
        padding: 15px;
        height: 200px;
        border-radius: 3px;
        width: 100%;
        resize: none;
        box-sizing: border-box;
    }


    .asunto-field {
        width: calc(100% - 32px);
    }


    @media (max-width: 768px) {

        .contact-form form p input[type=text],
        .contact-form form p input[type=tel],
        .contact-form form p input[type=email],
        .contact-form form p .asunto-field,
        .contact-form form p textarea {
            width: 100%;
            margin-bottom: 15px;
        }

        .contact-form form p {
            text-align: left;
        }

        .contact-form form p .asunto-field {
            margin-top: 20px;
        }
    }
</style>


{% block css %}
{% endblock %}
{% block contenido %}


<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>


<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">¡Estamos aquí para ayudarte!</p>
                        <h1>Contáctanos</h1>
                        <div class="hero-btns">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="form-title">
                    <h2>¿Tienes alguna pregunta?</h2>
                    <p>Si necesitas más información sobre nuestros servicios de arriendo de maquinaria o cualquier otra
                        consulta, por favor completa el siguiente formulario. Estamos aquí para asistirte.</p>
                </div>
                <div id="form_status"></div>
                <div class="contact-form">
                    <form method="POST" id="fruitkha-contact" onSubmit="return valid_datas(this);">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <p>
                            {{ form.nombre }}

                            {{ form.email }}
                        </p>
                        <p>
                            {{ form.telefono }}
                            ‎
                            {{ form.asunto }}
                        </p>
                        <p>
                            {{ form.mensaje }}
                        </p>
                        <input type="hidden" name="token" value="FsWga4&@f6aw" />
                        <p><input type="submit" value="Enviar" class="btn-submit"></p>
                    </form>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-form-wrap">
                    <div class="contact-form-box">
                        <h4><i class="fas fa-map"></i> Dirección</h4>
                        <p>Bolívar 202, oficina 308,<br> edificio Finanzas,<br> Iquique</p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="far fa-clock"></i> Horario</h4>
                        <p>LUN - VIERNES: 8:30 AM a 6:30 PM <br> SAB: 9:00 AM a 17:00 PM <br> DOM: Cerrado</p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="fas fa-address-book"></i> Contacto</h4>
                        <p>Teléfono: +569 6637 8461 <br> Correo electrónico: contacto@jjomaquinarias.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="find-location blue-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p> <i class="fas fa-map-marker-alt"></i> Encuentra nuestra ubicación</p>
            </div>
        </div>
    </div>
</div>

<div class="embed-responsive embed-responsive-21by9">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3744.1273575356026!2d-70.1539501!3d-20.2120281!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91521153f50e92d9%3A0xc62c117ba0646bac!2sMarketing%20DS!5e0!3m2!1ses-419!2scl!4v1721774673942!5m2!1ses-419!2scl"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
        class="embed-responsive-item"></iframe>
</div>
{% endblock %}
{% block js %}
{% if messages %}
{% for aux in messages %}
<script>
    Swal.fire({
        title: 'Confirmación',
        text: '{{ aux }}',
        icon: 'success',
        showCancelButton: false,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Aceptar'
    })
</script>
{% endfor %}
{% endif %}
{% endblock %}