{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}

<!-- Área de héroe -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Conócenos</p>
                        <h1>¡Nuestro historial!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PreLoader -->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!-- PreLoader Ends -->

<!-- Título intermedio -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Historia de JJO Maquinarias</h2>
        </div>
    </div>
</div>

<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <div class="single-artcile-bg"></div>

                        <h2>Nuestra Historia</h2>
                        <p>Desde nuestros inicios en el año 1999, JJO Maquinarias se ha dedicado a ofrecer equipos de construcción de la más alta calidad para proyectos en todo el país. Nuestra empresa ha crecido y evolucionado, siempre comprometida con la satisfacción de nuestros clientes y la excelencia en el servicio.</p>
                        <p>A lo largo de los años, hemos ampliado nuestra flota de maquinaria, incorporando tecnología de punta y equipos especializados que nos permiten cubrir una amplia gama de necesidades en el sector de la construcción. Retroexcavadoras, camiones, grúas y más, todos disponibles para alquiler con la garantía de JJO Maquinarias.</p>
                        <p>Nos enorgullece ser una empresa líder en el sector, conocida por nuestra fiabilidad y compromiso. Hemos trabajado en numerosos proyectos de gran envergadura, contribuyendo al desarrollo y crecimiento de muchas infraestructuras importantes.</p>
                        <p>Nuestro equipo de profesionales está siempre listo para asesorarte y ofrecerte soluciones personalizadas que se adapten a tus requerimientos específicos. En JJO Maquinarias, estamos dedicados a ayudarte a alcanzar el éxito en tus proyectos de construcción.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
{% endblock %}
