{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<style>
    .cart-banner {
        margin-bottom: 40px;
    }

    .abt-section {
        margin-bottom: 40px;
    }


    @media (max-width: 767px) {
    .content-column h3 .orange-text {
        display: inline-block;
        margin-bottom: 1.5rem; /* Ajusta este valor según sea necesario */
    }
}


 

    .image-column .image img {
        width: 100%;
      
        height: auto;

        max-width: none;
        
    }
</style>
{% endblock %}
{% block contenido %}

<!-- PreLoader -->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!-- PreLoader Ends -->

<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">¡Confía en JJO para tu próximo proyecto!</p>
                        <h1>JJO Maquinarias</h1>
                        <div class="hero-btns">
                            <a href="{% url 'productos' %}" class="boxed-btn">Explora Maquinarias</a>
                            <a href="{% url 'contacto' %}" class="bordered-btn">Contáctanos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-hard-hat"></i>
                    </div>
                    <div class="content">
                        <h3>Equipo Confiable</h3>
                        <p>Máquinas listas para cualquier trabajo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-road"></i>
                    </div>
                    <div class="content">
                        <h3>Servicio Integral</h3>
                        <p>Desde el arriendo hasta el traslado</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-thumbs-up"></i>
                    </div>
                    <div class="content">
                        <h3>Calidad Garantizada</h3>
                        <p>Equipos de alto rendimiento</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end features list section -->

<section class="cart-banner pt-100 pb-100">
    <div class="container">
        <div class="row clearfix">
            <!-- Image Column -->
            <div class="image-column col-lg-6">
                <div class="image">
                    <img src="{% static 'core/img/jjoMaquinarias/maquina6.png' %}" alt="Maquinaria en alquiler">
                </div>
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-6">
                <h3><span class="orange-text">Arriendo</span> de Maquinarias</h3>
                <div class="text">Ofrecemos una amplia gama de maquinaria de construcción para tus proyectos. Cotiza
                    ahora y asegura la disponibilidad de equipos de alta calidad para tus necesidades.</div>
                <a href="{% url 'productos' %}" class="cart-btn mt-3"><i class="fas fa-eye"></i> Ver Maquinarias</a>
            </div>
        </div>
    </div>
</section>



<!-- end cart banner section -->

<!-- advertisement section -->
<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="image">
                    <img src="{% static 'core/img/jjoMaquinarias/logo.jpg' %}" alt="Retroexcavadora 320D">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <p class="top-sub">Desde el Año 2019</p>
                    <h2>Somos <span class="orange-text">JJO Maquinarias</span></h2>
                    <p>Fundada por Óscar Ortega y Jorge Pérez en Valparaíso, JJO Maquinarias se especializa en el
                        arriendo de maquinaria pesada para satisfacer las necesidades de la industria y la construcción.
                    </p>
                    <p>Contamos con una flota diversa y equipos de alta calidad para asegurar el éxito de tus proyectos,
                        respaldados por años de experiencia y un compromiso con la excelencia.</p>
                    <a href="{% url 'sobreNosotros' %}" class="boxed-btn mt-4">Saber más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end advertisement section -->

<!-- shop banner -->
<section class="shop-banner">
    <div class="container">
        <h3>Encuentra la maquinaria que necesitas <br> con <span class="orange-text">JJO Maquinarias</span></h3>
        <div class="sale-percent"><span>Cotiza ahora!</span><span>Máquinas para cada necesidad</span></div>
    </div>
</section>
<!-- end shop banner -->



{% endblock %}

{% block js %}
{% endblock %}