{% extends 'core/base.html' %}
{% load     static %}
{% block css %}

{% endblock %}
{% block contenido %}

<!-- Área de héroe -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Conócenos</p>
                        <h1>¡Nuestra misión!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PreLoader -->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!-- PreLoader Ends -->

<!-- Título intermedio -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Misión de JJO Maquinarias</h2>
        </div>
    </div>
</div>

<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <div class="single-artcile-bg"></div>

                        <h2>Nuestra Misión</h2>
                        <p>En JJO Maquinarias nos especializamos en el arriendo de maquinaria pesada para la industria, proporcionando equipos de alta calidad y confiabilidad para satisfacer las necesidades operativas de nuestros clientes. Nuestra misión es facilitar el progreso y la eficiencia en proyectos industriales y de construcción, mediante soluciones flexibles y accesibles que aseguren el cumplimiento de los más altos estándares de rendimiento y seguridad.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}
