{% extends 'core/base.html' %}
{% load     static %}
{% block css %}

{% endblock %}
{% block contenido %}

<!-- Área de héroe -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Conócenos</p>
                        <h1>¡Nuestra misión!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PreLoader -->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!-- PreLoader Ends -->

<!-- Título intermedio -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Misión de JJO Maquinarias</h2>
        </div>
    </div>
</div>

<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <div class="single-artcile-bg"></div>

                        <h2>Nuestra Misión</h2>
                        <p>En JJO Maquinarias, nuestra misión es proporcionar soluciones de alquiler de maquinarias para construcción que sean confiables, eficientes y accesibles. Nos dedicamos a apoyar a nuestros clientes en la realización de sus proyectos, asegurando que dispongan de los equipos necesarios para llevar a cabo su trabajo con la máxima calidad y seguridad.</p>
                        <p>Nuestra empresa se compromete a ofrecer un servicio de atención al cliente excepcional, basado en la honestidad, la integridad y la comunicación transparente. Creemos en la importancia de construir relaciones sólidas y duraderas con nuestros clientes, entendiendo sus necesidades específicas y brindándoles asesoramiento y soporte técnico adecuado.</p>
                        <p>A través de la mejora continua y la innovación, buscamos optimizar nuestros procesos y mantener nuestro inventario de maquinarias actualizado con las últimas tecnologías disponibles. Nos esforzamos por ser un socio confiable en el sector de la construcción, contribuyendo al éxito de nuestros clientes y al desarrollo sostenible de la industria.</p>
                        <p>En JJO Maquinarias, nos apasiona el trabajo que hacemos y estamos comprometidos a superar las expectativas de nuestros clientes, ofreciendo soluciones que marquen la diferencia en sus proyectos de construcción.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}
