{% extends 'core/base.html' %}
{% load static %}
{% block css %}
<style>
	.product-image img {
		height: 200px;

		width: auto;

		object-fit: cover;

	}

	.product-lists {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}

	.single-product-item {
		width: calc(33.333% - 30px);
		box-sizing: border-box;
		max-height: 390px;
	}

	.product-content {
		text-align: center;

		padding: 20px;

	}




	.product-lists .single-product-item .product-content {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.product-buttons {
		display: flex;
		gap: 10px;

		margin-top: 10px;

	}

	.product-buttons .cart-btn {
		display: inline-flex;
		align-items: center;
		padding: 10px 15px;
		text-decoration: none;
		color: #fff;

		background-color: #ffde59;

		border-radius: 4px;

		transition: background-color 0.3s;

	}

	.product-buttons .cart-btn:hover {
		background-color: #263e58;

	}




	@media (max-width: 992px) {
		.single-product-item {
			width: calc(50% - 30px);
		}
	}

	@media (max-width: 768px) {
		.single-product-item {
			width: 100%;
		}
	}
</style>
{% endblock %}
{% block contenido %}


<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>







<div class="section-title">
    <div class="title-wrapper">
        <h1><span class="orange-text">Nuestros</span> servicios</h1>
    </div>
</div>


<div class="product-section mt-150 mb-150">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="product-filters">
					<ul>
						<li class="active" data-filter="*">Todos</li>
						{% for tipo in tipos %}
						<li data-filter=".{{ tipo.descripcion|slugify }}">{{ tipo.descripcion }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		{% if user.is_authenticated %}

		<div class="product-lists">
			{% for producto in listado %}
			
			<div class="single-product-item {{ producto.tipo.descripcion|slugify }}">
				<div class="product-image">
					<a href="{% url 'producto' producto.id %}"><img src="{{ producto.imagen.url }}" alt=""></a>
				</div>
				<div class="product-content">
					<h3>{{ producto.nombre }}</h3>
					<div class="product-buttons">
						<a href="{% url 'producto' producto.id %}" class="cart-btn"><i class="fas fa-eye"></i> Ver</a>
						{% if user.is_authenticated and user.username == 'admin' %}
						<a href="{% url 'update' producto.id %}" class="cart-btn"><i class="fa fa-refresh"></i>
							Editar</a>
						<a class="cart-btn" onclick="deleteProducto({{ producto.id }})"><i class="fa fa-trash"></i>
							Eliminar</a>
						{% endif %}
					</div>
				</div>
			</div>
		
			{% endfor %}
		</div>

		{% else %}


		<div class="product-lists">
			{% for producto in listado %}
			{% if producto.vigente == 1 %}
			<div class="single-product-item {{ producto.tipo.descripcion|slugify }}">
				<div class="product-image">
					<a href="{% url 'producto' producto.id %}"><img src="{{ producto.imagen.url }}" alt=""></a>
				</div>
				<div class="product-content">
					<h3>{{ producto.nombre }}</h3>
					<div class="product-buttons">
						<a href="{% url 'producto' producto.id %}" class="cart-btn"><i class="fas fa-eye"></i> Ver</a>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		{% endif %}



		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="pagination-wrap">
					<ul>
						{% if listado.has_previous %}
						<li><a href="?page={{ listado.previous_page_number }}">Anterior</a></li>
						{% else %}
						<li class="disabled"><a href="#">Anterior</a></li>
						{% endif %}
						{% for num in listado.paginator.page_range %}
						{% if listado.number == num %}
						<li><a class="active" href="#">{{ num }}</a></li>
						{% else %}
						<li><a href="?page={{ num }}">{{ num }}</a></li>
						{% endif %}
						{% endfor %}

						{% if listado.has_next %}
						<li><a href="?page={{ listado.next_page_number }}">Siguiente</a></li>
						{% else %}
						<li class="disabled"><a href="#">Siguiente</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script>
	$(document).ready(function () {

		var $grid = $('.product-lists').isotope({
			itemSelector: '.single-product-item',
			layoutMode: 'fitRows'
		});


		$('.product-filters').on('click', 'li', function () {
			var filterValue = $(this).attr('data-filter');
			$grid.isotope({ filter: filterValue });


			$('.product-filters li').removeClass('active');
			$(this).addClass('active');
		});
	});



	function deleteProducto(id) {

		Swal.fire({
			title: 'Eliminar',
			text: '¿Desea eliminar producto?',
			icon: 'info',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Eliminar'
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire('Eliminado!', 'Producto Eliminado Correctamente', 'success').then(function () {
					window.location.href = "/delete/" + id + "/";
				})
			}
		})
	}	
</script>


{% endblock %}