{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }





    .section-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 20px 0;
        color: #333;
        text-align: center;
    }

    .single-article-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
    }

    .single-article-content {
        width: 100%;
        max-width: 1200px;
        padding: 20px;
        margin: 0 auto;
    }

    .single-artcile-bg {
        background-image: url('{% static "core/img/jjoMaquinarias/logo.jpg" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        /* Ajusta la altura según tus necesidades */
        width: 100%;
        /* Cambiado a 100% para ajustar al contenedor */
        max-width: 400px;
        /* Ajusta el ancho máximo */
        border-radius: 5px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    .single-article-text {
        padding: 20px;
    }

    .single-article-text h3 {
        font-size: 1.25rem;
        font-weight: bold;
        color: #333;
        margin: 20px 0;
        text-align: center;
    }

    .single-article-text p {
        font-size: 1rem;
        line-height: 1.6;
        color: #666;
        text-align: justify;
        margin-bottom: 20px;
    }

    .orange-text {
        color: #ffde59;
    }

    .service-history-container {
        width: 100%;
        max-width: 1200px;
        padding: 20px;
        margin: 0 auto;
    }

    .service-history-container p:last-of-type {
        margin-bottom: 40px;
        /* Añadir más separación para el último párrafo */
    }

    /* Estilos para tabletas */
    @media (max-width: 768px) {
        .single-article-section {
            flex-direction: column;
        }

        .single-article-content {
            text-align: center;
        }

        .single-artcile-bg {
            width: 100%;
            height: auto;
            margin: 20px 0;
        }

        .single-article-text {
            padding: 20px;
        }
    }

    /* Estilos para móviles */
    @media (max-width: 576px) {
        .hero-text h1 {
            font-size: 36px;
        }

        .hero-text p.subtitle {
            font-size: 12px;
        }

        .single-article-text h3 {
            font-size: 1rem;
        }

        .single-article-text p {
            font-size: 0.875rem;
        }
    }






    .section-title {
        position: relative;
        /* Permite ajustes precisos dentro del contenedor */
        font-size: 1.5rem;
        font-weight: bold;
        margin: 60px auto;
        /* Espacio vertical alrededor del título */
        color: #333;
        text-align: center;
        /* Centra el texto dentro del contenedor */
        width: 100%;
        /* Asegura que el título ocupe el ancho completo del contenedor */
        max-width: 1200px;
        /* Limita el ancho máximo para mantenerlo centrado en contenedores grandes */
    }

    .title-wrapper {
        position: relative;
        left: 20px;
        /* Ajusta este valor para mover el título hacia la izquierda */
    }

    .section-title h1 {
        margin: 0;
        /* Eliminar márgenes adicionales si es necesario */
    }
</style>
{% endblock %}

{% block contenido %}
<div class="section-title">
    <div class="title-wrapper">
        <h1><span class="orange-text">Sobre</span> nosotros</h1>
    </div>
</div>




<div class="single-article-section">
    <div class="single-article-content">
        <div class="single-article-text">
            <h3><span class="orange-text">Misión</span></h3>
            <p>En JJO Maquinarias nos especializamos en el arriendo de maquinaria pesada para la industria,
                proporcionando equipos de alta calidad y confiabilidad para satisfacer las necesidades
                operativas de nuestros clientes. Nuestra misión es facilitar el progreso y la eficiencia en
                proyectos industriales y de construcción, mediante soluciones flexibles y accesibles que
                aseguren el cumplimiento de los más altos estándares de rendimiento y seguridad.</p>

            <h3><span class="orange-text">Visión</span></h3>
            <p>Ser reconocidos como líderes en el sector de arriendo de maquinaria pesada, destacándonos por
                nuestra flota diversificada, calidad excepcional de servicio y compromiso con la innovación.
                Nos esforzamos por ser el aliado preferido de las industrias que buscan eficiencia y
                rentabilidad en sus proyectos, consolidando nuestra presencia a nivel regional mediante
                prácticas sostenibles y una atención al cliente inigualable.</p>
        </div>
    </div>
    <div class="single-artcile-bg"></div>
</div>

<div class="service-history-container">
    <h3 class="section-title"><span class="orange-text">Nuestros servicios</span></h3>
    <p>En JJO Maquinarias, ofrecemos una amplia gama de servicios especializados en el arriendo de
        maquinaria pesada para satisfacer las necesidades variadas de nuestros clientes en proyectos
        industriales y de construcción. Nuestra flota de equipos incluye:</p>
    <p>Excavadoras de diversos tamaños y capacidades para excavación y carga eficientes. Rodillos
        compactadores para compactación de suelos y asfalto, garantizando superficies firmes y
        duraderas.</p>
    <p>Cargadores frontales robustos y versátiles para la manipulación eficaz de materiales en el sitio.
        Martillos hidráulicos ideales para demolición controlada y trabajos de excavación precisa.</p>

    <p>Además de nuestro arriendo de equipos especializados, ofrecemos un servicio integral de traslado
        de carga por carretera, asegurando la entrega puntual y segura de equipos y materiales a su
        destino final.</p>
    <p>Nos enorgullece ofrecer soluciones completas que no solo cumplen, sino que superan las
        expectativas de nuestros clientes, respaldadas por nuestro compromiso con la calidad y la
        satisfacción del cliente en cada paso del camino.</p>

    <h3 class="section-title"><span class="orange-text">Nuestra historia</span></h3>
    <p>Nuestra empresa, JJO MAQUINARIAS, comenzó su trayectoria en el año 2019 con la visión de cubrir
        una necesidad creciente en el sector industrial y de construcción. Fundada por Óscar Ortega y
        Jorge Pérez en Valparaíso, inicialmente nos especializamos en el arriendo de equipos específicos
        para proyectos locales.</p>
    <p>Con el tiempo, hemos crecido de manera constante, ampliando nuestra flota para incluir una
        variedad completa de maquinaria pesada adaptada a las demandas cambiantes del mercado. Esta
        expansión nos ha permitido atender proyectos de gran envergadura en diversas industrias, desde
        la construcción de infraestructuras hasta proyectos energéticos y mineros.</p>
    <p>Nuestra historia está marcada por un compromiso continuo con la calidad y la satisfacción del
        cliente. A lo largo de los años, hemos establecido relaciones sólidas con empresas líderes,
        gracias a nuestra reputación por equipos confiables, servicio personalizado y un enfoque
        riguroso en la seguridad operativa.</p>
    <p>Mirando hacia el futuro, JJO se propone seguir siendo un referente en el sector, innovando
        constantemente para ofrecer soluciones eficientes y sostenibles que impulsen el éxito de
        nuestros clientes. Con una mirada hacia la expansión internacional y el desarrollo de
        tecnologías emergentes, estamos preparados para enfrentar los desafíos del mañana con la misma
        pasión y dedicación que nos han definido desde nuestros inicios.</p>
</div>

{% endblock %}
{% block js %}
{% endblock %}