{% extends 'core/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block contenido %}

<!-- Área de héroe -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <p class="subtitle">Conócenos</p>
                        <h1>¡Nuestra visión!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PreLoader -->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!-- PreLoader Ends -->

<!-- Título intermedio -->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Visión de JJO Maquinarias</h2>
        </div>
    </div>
</div>

<div class="mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-article-section">
                    <div class="single-article-text">
                        <div class="single-artcile-bg"></div>

                        <h2>Nuestra Visión</h2>
                        <p>En JJO Maquinarias, nos esforzamos por ser líderes en el sector de alquiler de maquinarias para construcción, proporcionando soluciones innovadoras y de alta calidad para todos nuestros clientes. Nuestra visión es expandir nuestra presencia a nivel nacional, ofreciendo una amplia gama de equipos modernos y confiables que faciliten la realización de proyectos de construcción de cualquier envergadura.</p>
                        <p>Nos comprometemos a mantenernos a la vanguardia de la tecnología, incorporando constantemente nuevas maquinarias y herramientas que mejoren la eficiencia y seguridad de las obras. Aspiramos a ser reconocidos por nuestro excelente servicio al cliente, basado en la transparencia, la responsabilidad y la atención personalizada.</p>
                        <p>Nuestro objetivo es contribuir al desarrollo sostenible de la infraestructura en el país, apoyando a las empresas constructoras con equipos que cumplen con los más altos estándares de calidad y rendimiento. Creemos firmemente que, a través de la innovación y la mejora continua, podemos hacer una diferencia significativa en el éxito de nuestros clientes y en el progreso de la industria de la construcción.</p>
                        <p>En JJO Maquinarias, trabajamos día a día para ser la primera opción en alquiler de maquinarias, creando relaciones duraderas con nuestros clientes basadas en la confianza y el compromiso con sus proyectos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
{% endblock %}
